body {
  background-color: Ivory;
}
h1 {
  font-family: "Comic Sans MS";
  text-align:center;
  color: DimGrey;
  border: 2px LightBlue outset;
  border-radius: 5px;
  margin: 15px;
  margin-bottom: 45px;
  padding: 5px 0px;
}
table {
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
  border-collapse: collapse;
}
tr.even {
  background-color: #EEEEE0;
}
tr.sum { 
  padding-top: 5px;
  border-top: 3px solid DimGrey;
  color: DarkRed;
}
tr.sum td { 
  padding-top: 10px;
}
th {
  text-align: left;
  font-size: 20px;
}
td {
  font-size: 18px;
  padding-right: 20px
}
td+td+td {
  padding-right:0px
}
span#filter { 
  color: Blue;
  padding-top: 0px;
  border-top: 2px outset Blue;
}
input.addTime {
  font-size: 15px;
  border: 2px LightBlue outset;
  background-color: Ivory;
  border-radius: 5px;
}
input.addTime.free { 
  border-style: none;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: DimGrey;
  color: Ivory;
}
#shaddow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black;
  opacity: 0.8;
}
#append {
  position: absolute;
  width: 200px;
  height: 160px;
  left: 50%;
  margin-left: -80px;
  top: 50%;
  margin-top: -200px;
  background-color: Ivory;
  border: 2px inset LightBlue;
  border-radius: 5px;
  padding: 0 0 25px 30px;
}
#append h2 {
  font-family: sans-serif;
}
#append input {
  background-color: Ivory;
  border: 1px solid DimGrey;
  width: 160px;
}
#append input[type=button] {
  width: 80px;
}